<!DOCTYPE html>
<html>
	<head>

		<script src="../lib/jquery.js"></script>
		<link rel="stylesheet" href="../lib/Bootstrap/css/bootstrap.css">
		<title>Animal Saviors</title>
		<link rel="stylesheet" href="../css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu&display=swap" rel="stylesheet">
	</head>

	<body class="colo">

		<div class="container-fluid barra">
			<div class="row">
				<div class="col-md-4 bb">
										
				</div>
				<div class="col-md-2 bb">
					<span class="textoB">Inicio</span>
				</div>
				<div class="col-md-2 bb">
					<span class="textoB">Informacion</span>
				</div>
				<div class="col-md-2 bb">
					<span class="textoB">Donar</span>
				</div>
				<div class="col-md-2 bb">
					<span class="textoB">Contacto</span>
				</div>
			</div>
		</div>
		<div class="container-fluid qs espacio">
			<div class="row">
				<div class="col-md-6 cennn">
					<B><span class="qss">QUIENES SOMOS</span></B>
				</div>
				<div class="col-md-6 cennn">
					<span class="sqss">La Asociación de ANIMAL-SAVIORS, es una asociación que funciona en Guatemala, Centro América.  Legalmente constituída desde 1998 por personas amantes de los animales como una entidad privada, civil, apolítica y no lucrativa.

					ANIMAL-SAVIORS solamente practica la eutanasia en animales sin posibilidad alguna de recuperación según diagnóstico médico o si están demasiado dañados psicológicamente a causa del maltrato excesivo.

					Todo el alimento, medicinas y servicio veterinario es pagado, no lo obtenemos gratuitamente.  Por lo que tus donaciones en efectivo y especie, ¡son bienvenidas</span>
				</div>
			</div>
		</div>

		<div class="container-fluid ">	
			<div class="row body">
				<div class="col-12 d-block d-sm-none  col-sm-6  col-md-6  col-lg-6  col-xl-6  mision bod text-center">
					<div class="tex">Visión</div>
				</div>	
				<div class="col-12  col-sm-8  col-md-8  col-lg-8  col-xl-8  mision1 text-center borde">
					<div class="text pri">Nuestra visión es ser la fundación de animales en riesgo con mayor impacto del país, generando un cambio efectivo en la conciencia de la sociedad para acabar con el abandono, la humillación y el abuso que sufren millones de animales al día.Nuestra asociación trata de dar respuestas a los problemas de los animales de compañía. Intentamos que nuestra actuación sea profesional, rápida y eficiente para mejorar su bienestar</div>
				</div>

				<div class="col-12 d-none d-sm-block  col-sm-4  col-md-4  col-lg-4  col-xl-4  mision text-center">
					<div class="linea">
						<b><div class="tex">Visión</div></b>
				
					</div>
				</div>
			</div>
				<div class="row body">
					<div class="col-12  col-sm-4  col-md-4  col-lg-4  col-xl-4  mision text-center">
						<b><div class="tex">Misión</div></b>				
					</div>
					<div class="col-12  col-sm-8  col-md-8  col-lg-8  col-xl-8 mision1 text-center borde1">
						<div class="text prii">Nuestra mision es lograr más de 1,000 adopciones anuales.Trabajar para que cada vez las personas se involucren más y asi existan mas posibilidades de salvar a los animales que necesiten ayuda, que entre todos podamos ayudar a un mayor número de animales necesitados. Tratar de inducir los valores de defensa de los derechos de los animales,mediante una red integrada podemos realizar esterilizaciones, rescates y adopciones de perros y gatos, logrando concientizar cada día a más personas, quienes se han ido uniendo a esta labor.
						</div>
					</div>
				

				</div>

			<div class="row text-center ff mision">
				<div class="col-4 k">
					<h2>Creadores</h2>
					<div class="col-12">
						<h5>Ludwin Franco</h5>
						<div class="col-12">
							<h5>Brayan Barrios</h5>
							<div class="col-12">
								<h5>Alexis Escobar</h5>
								<div class="col-12">
									<h5>Nedy Blanco</h5>
									<div class="col-12">
										<h5>Kevin Soo</h5>
										<div class="col-12">
											<h5>Emely Elias</h5>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-4">
					<h2>Quienes somos</h2>
					<div class="col">
						<h5>Somos una empresa que trata de lograr una gran suma de adopciones anuales.Trabajamos para que cada vez las personas se involucren más y asi existan mas posibilidades de salvar a los animales que necesitan ayuda, intentamos que nuestra actuación sea profesional, rápida y eficiente.</h5>
					</div>
				</div>


				<div class="col-4 s">
					<h2>Ubicacion</h2>
					<div class="col">
						<h5>Puedes ubicarnos en nuestras sucursale en la zona 2 para mas informacion contactamos a los numeros disponibles</h5>
						<img class="im" src ="../images/aa.png">
					</div>
				</div>
				
				
			</div>







	

		<script src="../lib/angularjs.js"></script>
		
		<script src="../lib/Bootstrap/js/bootstrap.js"></script>
		<script src="../lib/sweetalert.js"></script>
	</body>
</html>